<p>manager works!</p>
<section>
    <!-- <p-table [value]="books" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>title</th>
                <th>author</th>
                <th>price</th>
                <th>quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.title  }}</td>
                <td>{{ product.author  }}</td>
                <td>{{ product.price  }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
    </p-table> -->

    <p>manager works!</p>
    <section>
      <p-table
        #dt
        [value]="books"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
      >
        <!-- Header with Search Boxes Above Each Column -->
        <ng-template pTemplate="header">
          <tr>
            <th>
              <input
                pInputText
                type="text"
                (input)="onSearch($event, 'title')"
                placeholder="Search by Title"
              />
            </th>
            <th>
              <input
                pInputText
                type="text"
                (input)="onSearch($event, 'author')"
                placeholder="Search by Author"
              />
            </th>
            <th>
              <input
                pInputText
                type="text"
                (input)="onSearch($event, 'price')"
                placeholder="Search by Price"
              />
            </th>
            <th>
              <input
                pInputText
                type="text"
                (input)="onSearch($event, 'quantity')"
                placeholder="Search by Quantity"
              />
            </th>
          </tr>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </ng-template>
    
        <!-- Table Body -->
        <ng-template pTemplate="body" let-book>
          <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.quantity }}</td>
          </tr>
        </ng-template>
      </p-table>
    </section>
    
</section>